doctype html
html
	head
		title Show
	body
		form(action = '/addThreadName/', method= 'post')
			input( type = 'text', name='name', value="daulau")
			input( type= "hidden", name="threadId", value= threadId)
			input( type = 'submit')